  
.footer-home {
    background-color: #1b4d36; 
    color: white;
    padding: 40px;
    overflow: hidden;
    margin: 0%;
}

.footer-home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-home-left {
    text-align: left;
}

.footer-home-left-logo {
  font-family: 'Abril Fatface', serif;
  color: white;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 40px;
}

.footer-home-left-p{
  padding: 5px 0px;
  font-size: 16px;
  font-weight: 200;
  
}

.footer-home-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-home-line {
    width: 60%;
    border: 0.3px solid #cccccce1;
}

.social-icons p{
  font-size: 17px;
  color: white;
  padding-right: 15px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 40px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.1); 
}

.terms-home a {
    color: white;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: 200;
}

.terms-home a:hover {
    text-decoration: underline;
}
