.top-header-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 30px;
    font-weight: 520;
  }

  .logo-home {
    font-family:'Abril Fatface', serif ;
    font-size: 50px;
    font-weight: bold;
    color: #224F34;
    margin: 4px 0;

  }

  .nav-links-home a {
    font-size: 20px;
    margin: 0 15px;
    text-decoration: none;
    color: #08642d;
    padding: 0 8px;
  }
  
  .logout-home-btn {
    font-size: 21px;
    padding: 8px 15px;
    background-color: #fff;
    color: #1b7e42;
    border: .5px solid #14532d;
    border-radius: 6px;
    cursor: pointer;
    width: 120px;
  }

  .share-home-btn {
    font-size: 21px;
    padding: 8px 15px;
    background-color: #fff;
    color: #1b7e42;
    border: .5px solid #14532d;
    border-radius: 6px;
    cursor: pointer;
    width: 120px;
  }
  
  .header-divider-home {
    border: none;
    height: 2px;
    background-color: #cccccc;
    margin: 8px 10px;
  }
  